<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <%- include('./partials/navbar', { user }) %>
    <main class="flex justify-center bg-[#F4F4F5] h-full">
        <div class="w-full">
            <div class="w-full text-white bg-[#03405F] flex justify-center">
                <div class="w-[80%] py-[80px]">
                    <h1 class="text-4xl">Selamat datang <%= userProfile.UserProfile.name ? userProfile.UserProfile.name : userProfile.email%>!</h1>
                    <p class="font-light">Semoga aktifitas belajarmu menyenangkan.</p>
                </div>
            </div>
 
            <% if (message) { %>
                <p class="text-center text-green-700 bg-green-200 py-2"><%= message %></p>
            <% } %>
            <div class="w-full flex justify-center mt-5">
                <div class="w-[80%] grid grid-cols-2 gap-5">
                    <div class="p-4 bg-white shadow-lg rounded-md">
                        <p>Aktivitas Belajar</p>
                        <hr>
                        <% if (courseDetails.Courses.length === 0) { %>
                         <p class="text-center my-5">Anda masih belum memiliki kelas aktif, pergi ke <a class="underline underline-offset-2" href="/academy">Academy</a> untuk memilih kelas</p>
                        <% } %>
                        <% courseDetails.Courses.forEach(e=> { %>
                           <div class="bg-[#F4F4F5] p-4 mt-2 rounded-md">
                                <p>Sedang dipelajari</p>
                                <div class="flex justify-between ">
                                    <p class="font-extralight"><%= e.name %></p>
                                    <a class="font-extralight" href="/course/<%= e.id %>">Lanjutkan</a>
                                </div>
                           </div>
                        <% }) %>
                    </div>
                    <div class="p-4 bg-white shadow-lg rounded-md">
                        <p>Aktivitas Lain</p>
                        <hr>
                         <p class="text-center my-5 mt-[110px]">Anda masih belum memiliki riwayat/jadwal event, pergi ke <a class="underline underline-offset-2" href="/event">Event</a> untuk memilih kegiatan</p>
                    </div>
                </div>
            </div>
       </div>
    </main>
</body>
</html>